$card-max-width: 600px;

.container {
    position: relative;
}
.card {
    margin: 10px auto;
    padding: 10px;
    max-width: $card-max-width;
    color: #fff;
    background-image: url("../../assets/English.jpg");
    background-size: cover;
    height: 150px;
    cursor: pointer;
}
mat-card-title {
    text-overflow: ellipsis; 
    max-width: $card-max-width;
    overflow: hidden;
    white-space: nowrap;
}
