<mat-sidenav-container>
  <mat-sidenav opened="false" #sidenav>
    <mat-nav-list>
      <mat-list-item routerLink="/auth">Login</mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <section class="links">
        <a routerLink="/">Competition</a>
      </section>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>