mat-sidenav-container, mat-sidenav-content {
    height: 100%;
}
mat-toolbar {
    height: 50px;
}
mat-sidenav {
    width: 250px;
}
.links > a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
.links {
    width: 100%;
    display: flex;
}
.spacer {
    flex: 1 1 auto;
}