.container {
    padding: 10px;
}
.spacer {
    flex: 1 1 auto;
}
.title {
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
}
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
}